---
title: List Verification Result API
api:
  file: TR_Enclave_API_Spec.yaml
  operationId: travelrule-enclave-list-Verification-Result
hidden: false
---
This API allows retrieval of verification result records based on query parameters such as verification status, time period, asset symbol, and counterparty VASP. All parameters are optional, and when multiple parameters are used, they are applied using logical AND.

***

## API Specification