---
title: Get Verification Result API
api:
  file: TR_Enclave_API_Spec.yaml
  operationId: travelrule-enclave-get-Verification-Result
hidden: false
---