---
title: Request User Account Verification API
api:
  file: TR_Enclave_API_Spec.yaml
  operationId: travelrule-Enclave-User-Account-Verification
hidden: false
---
송신 VASP는 이 API를 호출하여 수신 VASP에게 수신 계좌 검증 요청을 전송할 수 있습니다. 응답은 수신 계정이 수신 VASP에서 발급된 계정인지 여부에 대한 검증 결과를 포함합니다.

***