---
title: Get Owner Verification Result API
api:
  file: VN_Enclave_API_Spec.yaml
  operationId: verifyname-get-owner-verification-result
hidden: false
---
Retrieves the result of a specific VerifyName verification request using `request_id`. The API returns the verification result for the specified request.

***

## API Specification