---
title: List Verification Result API
api:
  file: TR_Enclave_API_Spec.yaml
  operationId: travelrule-enclave-list-Verification-Result
hidden: false
---