---
title: Get Verification Result API
excerpt: >
  This API retrieves the result of a specific verification request using its
  unique verification UUID.
api:
  file: TR_Enclave_API_Spec.yaml
  operationId: travelrule-enclave-get-Verification-Result
hidden: false
---