---
title: Request User Account Verification API
api:
  file: TR_Enclave_API_Spec.yaml
  operationId: travelrule-Enclave-User-Account-Verification
hidden: false
---