---
title: Get Verification Result API
api:
  file: TR_Enclave_API_Spec.yaml
  operationId: travelrule-enclave-get-Verification-Result
hidden: false
---
verification UUID로 특정 사용자 검증 요청의 결과를 조회하기 위한 API입니다. 해당 요청의 검증 결과가 반환됩니다.

***

## API 명세