---
title: Get Verification Result API
api:
  file: TR_Enclave_API_Spec.yaml
  operationId: travelrule-enclave-get-Verification-Result
hidden: false
---
This API retrieves the verification result of a specific user verification request using its verification UUID.

***

## API Specification