---
title: Verify User API
api:
  file: TR_VASP_API_Spec.yaml
  operationId: travelrule-User-Verification
hidden: false
---