---
title: VerifyName API
api:
  file: VN_VASP_API_Spec.yaml
  operationId: verifyName-Request-Verification
hidden: false
---