---
title: Request User Verification API
api:
  file: TR_Enclave_API_Spec.yaml
  operationId: travelrule-encalve-request-User-Verification
hidden: false
---