---
title: Get Owner Verification Result API
api:
  file: VN_Enclave_API_Spec.yaml
  operationId: verifyname-get-owner-verification-result
hidden: false
---