---
title: List Owner Verification Result API
api:
  file: VN_Enclave_API_Spec.yaml
  operationId: verifyname-list-owner-verification
hidden: false
---