---
title: Get Owner Verification Result API
api:
  file: VN_Enclave_API_Spec.yaml
  operationId: verifyname-get-owner-verification-result
hidden: false
---
`request_id`로 특정 VerifyName 검증 요청의 결과를 조회하기 위한 API입니다. 해당 요청건의 검증 결과가 반환됩니다.

***

## API 명세